# DATA TYPE

In [ ]:
# DATA TYPE

# 1. int 10 15 2000 
# Data dengan nilai angka biasa 
# contoh  a = 15

# 2. float 3.4 5.6 
# Data dengan nilai angka desimal
# contoh a = 37.5

# 3. str 'Rahul' "Muliana" """SMBPRO12"""
# Data dengan nilai huruf/kata/kalimat
# contoh a = 'Rahul'

# 4. list [60,89,38,58]
# Sekumpulan Data dengan nilai dengan khas []
# contoh a = [60,89,38,58]

# 5. tuple (60,89,38,58)
# Sekumpulan Data dengan nilai dengan khas ()
# contoh a = (60,89,38,58)

# 6. dict {"name":"rahul","Kelas":"SMBPRO12"} -> {key1:value1, key2:value
# Sekumpulan Data dengan nilai dengan khas terdapat key dan value pada setiap nilainya
# contoh a = {"name":"rahul","Kelas":"SMBPRO12"}

# 7. set {10,20,30,40}
# Sekumpulan Data dengan nilai dengan khas {} dan nilai yang ada tidak boleh sama
# contoh a = {10,20,30,40}

# 8. Bool True false
# Data dengan nilai True atau False

In [17]:
# cara mengecek type data dari variable  menggunakan type()
# cara mengecek lokasi memori data dari variable  menggunakan id()
# contoh

a = list(range(10,50, 10))
b = tuple(range(50,80,5))
c = set(range(1,10,2))

print(type(a), id(a), a)
print(type(b), id(a), b)
print(type(c), id(a), c)

<class 'list'> 4381761200 [10, 20, 30, 40]
<class 'tuple'> 4381761200 (50, 55, 60, 65, 70, 75)
<class 'set'> 4381761200 {1, 3, 5, 7, 9}

## Data Type - Immutable / Mutable

In [ ]:
# IMMUTABLE / MUTABLE

# Immutable = Jika saya dapat merubah nilai di lokasi memori yang sama 
# Mutable = Jika saya tidak dapat merubah nilai di lokasi yang sama

# Immutable :
#     1. int
#     2. float
#     3. tuple
#     4. str
#     5. bool
    
# Mutable : 
#     1. list
#     2. dict
#     3. set

In [301]:
# contoh perbedaan mutable dan immutable

# 1. list(mutable) dan tuple,int(immutable)

a = list(range(10,15))

print(a, "dengan lokasi memori di",id(a))

# Menambahkan nilai 20 pada variable a menggunakan name_variable.append()

a.append(20)
print(a, "dengan lokasi memori di",id(a))

# KESIMPULAN 
# Dengan menambahkan angka 20 pada list varirable a, lokasi variable a lokasinya masih sama

#sedangkan untuk tuple dan int

b = tuple(range(10,20))
c = 13

print(b, "dengan lokasi memori di", id(b))
print(c, "dengan lokasi memori di", id(c))

# Menambahkan nilai 20 menggunakan name_variable.append() akan error karena data type immutable tidak dapat 
# digunakan untuk Add, Update dan Delete 
# Bila kita menambah nilai variable b dan c dengan fungsi a = ..... maka memori tidak sama

b = tuple(range(10,19))
c = 14

print(b, "dengan lokasi memori di", id(b))
print(c, "dengan lokasi memori di", id(c))

[10, 11, 12, 13, 14] dengan lokasi memori di 4549321584
[10, 11, 12, 13, 14, 20] dengan lokasi memori di 4549321584
(10, 11, 12, 13, 14, 15, 16, 17, 18, 19) dengan lokasi memori di 4539180528
13 dengan lokasi memori di 4498765312
(10, 11, 12, 13, 14, 15, 16, 17, 18) dengan lokasi memori di 4538691152
14 dengan lokasi memori di 4498765344

In [1]:
# OBJECT INTERING CONCEPT

num1 = 100
num2 = 100
num3 = 256
num4 = 256
num5 = 257
num6 = 257

print(id(num1), id(num2), id(num3), id(num4), id(num5), id(num6))

# KESIMPULAN
# Bila menyimpan nilai angka yang sama pada variable yang berbeda maka akan tersimpan di lokasi memori yang sama
# Namun, bila nilai angka > 256 maka tidak akan tersimpan di lokasi memori yang sama

4418466016 4418466016 4418471008 4418471008 4458801520 4458801936

## Iterable data

In [ ]:
# ITERABLE DATA

# 1. list[]
# 2. tuple()
# 3. set{}

# OPERATORS

In [16]:
# OPERATORS

# 1. Arith Oeprators : +, -, *, /, //, **, %
# ** = pangkat, % = modulus, // = division
a = 9 % 3
print(a)


# 2. Comparison Operators : ==, !=, <, >, <=, >= 
# True/False
b = 30
c = 50
print(b < c)

# 3. Membership Operators : in, not in 
# After in / not in  it harus nilai koleksi atau iterable data
# True/False
d = list(range(1,11))
e = 8
print(e in d)

# 4. Identity Operators : is, is not
# is sama dengan ==, is not sama dengan != 
# True/False
f = 15
g = 15
print(f is g)

# 5. Assignment Operatos : =, +=, -=, *=, /=
h = 10
h += 5 # h = h + 3
print(h)

# 6. Logical Operators : and, or, not
# True/False
i = 40
j = 50
k = 30

# AND
# expected outputnya True,bila kedua operand harus dalam posisi True.
print(i < j and j > k )

# OR
# expected outputnya True,bila kedua operand harus dalam posisi True dan salah satu operand dalam posisi True
print(i < j or j < k)

# NOT
# Expected outputnya bisa True bisa False, tergantung logika yang dibangun pada code
l = 80
m = 50

print(not(m > l))

# 7. Bitwise Operators : & | >> <<

0
True
True
True
15
True
True
True

# Conditional Statement

In [35]:
# CONDITIONAL STATEMENT

# 1. if
# 2. elif
# 3. else

# 1. Kombinasi if-else
# if [conditional]:
#     statement/print/return -> Posisi True
# else:
#     statement/print/return -> Posisi False

umur_andi = 30
umur_saya = 25
umur_bimo = 35

if umur_andi > umur_saya:
    print("Andi tua!")
else:
    print("Andi masih muda")

# 2. Kombinasi if-elif-else
# if [conditional 1]:
#     statement/print/return -> Posisi True
# elif [conditional ]:
#     statement/print/return -> Posisi True/False
# else:
#     statement/print/return -> Posisi False

if (umur_bimo < umur_andi) and (umur_bimo > umur_saya):
    print("saya paling muda")
elif (umur_saya < umur_bimo):
    print("bimo paling tua")
else:
    print("salah semua")

Andi tua!
bimo paling tua

#  For & While (Looping)

In [19]:
# LOOPING

# 1. For
# for variable_additinal in variable itarable:
#     statements

# for
umur = list(range(30,70,5))
total = 0
for kumpulan_umur in umur:
    total = total + kumpulan_umur
    print(total)

# Kombinasi for looping + if-else + Data Integer
nilai_ujian = list(range(60,110,10))
nilai_ujian.append(70)
nilai_kkm = 75
# Bila ada nilai diatas 70 maka tidak ada ujian ulang 
for nilai_ujian_lulus in nilai_ujian:
#     print(nilai_ujian_lulus) #Bisa di print/tidak untuk check iterasi
    if nilai_ujian_lulus < nilai_kkm:
        print("remedial")
    else:
        print("tidak remedial")
        
# Kombinasi for looping + if-else + Data String
kalimat = "apeladalahjenisbuahbuahanataubuahyangdihasilkandaripohonbuahapel"
vokal = ["a","i","u","e","o"]
huruf_vokal = 0
huruf_konsonan = 0
for huruf in kalimat:
    if huruf in vokal:
        huruf_vokal += 1
    else:
        huruf_konsonan += 1
print("Huruf vokal = {0} dan huruf konsonan = {1}".format(huruf_vokal,huruf_konsonan))

30
65
105
150
200
255
315
380
remedial
remedial
tidak remedial
tidak remedial
tidak remedial
remedial
Huruf vokal = 30 dan huruf konsonan = 34

In [24]:
# 2. While
# While [condition]:
#     statements

num = 10
start = 1

while num > 1:
    start = start * num
    num = num - 1
print(start)

i = 0
while True:
    if i < 10:
        print("Saat ini i bernilai {}".format(i))
        i = i + 1
    elif i == 10:
        break

3628800
Saat ini i bernilai 0
Saat ini i bernilai 1
Saat ini i bernilai 2
Saat ini i bernilai 3
Saat ini i bernilai 4
Saat ini i bernilai 5
Saat ini i bernilai 6
Saat ini i bernilai 7
Saat ini i bernilai 8
Saat ini i bernilai 9

In [34]:
# BREAK AND CONTINUE - FOR AND WHILE

# 1. For - Break
nilai = [50,60,60,70,80,90,100]
nilai_andi = 101

for nilai_ujian in nilai:
    if nilai_ujian == nilai_andi:
        print("ada nilai andi")
        break
else:
    print("Nilai andi tidak ada")

Nilai andi tidak ada

In [68]:
# 2. For - Continue
b = [1,2,3,1,2,8,9,1,1]
for a in b:
    if a == 1:
        print("Ada angka 1")
        continue
    print(a)

Ada angka 1
2
3
Ada angka 1
2
8
9
Ada angka 1
Ada angka 1

# Range

In [90]:
# RANGE

# tipe of range ;

#  1. range(10): 0 1 2 3 4 5 6 7 8 9 
#  2. range(0,5): 0 1 2 3 4 
#  3. range(0,10,2): 0 2 4 6 8

a = list(range(10))
b = list(range(0,5))
c = list(range(0,10,2))

print(a)
print(b)
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]

# String

Str : 
    - '' , " ", """ """
    - immutable (no add update & delete)
    - Iterable
    - Indexing (only 1 char)
    - Slicing (start:end:stride)

## String - Indexing

In [37]:
# Mencari karakter yang ada pada kalimat menggunakan nomor index
s = "Learning_python is easy"
print(s[0]) #From left to right
print(s[-4]) #From right to left
print(s[0:8]) #start:end
print(s[:8]) #start of the string
print(s[0:]) #Full of string
print(s[9:]) #end of the string
print(s[9:-1])
print(s[0:9:2])
print(s[::-1])
print(s[8::-1])

L
e
Learning
Learning
Learning_python is easy
python is easy
python is eas
Lann_
ysae si nohtyp_gninraeL
_gninraeL

## String - Split and Join

In [43]:
# Memecah 1 nilai string berdasarkan spasi,koma,titik

a = "Learning python is easy funny lovely"
b = "Learning,python,is,easy,funny,lovely"
c = "Learninng.python.is.easy.funny.lovely"

d = a.split(" ")
e = b.split(",")
f = c.split(".")

print(d)
print(e)
print(f)

['Learning', 'python', 'is', 'easy', 'funny', 'lovely']
['Learning', 'python', 'is', 'easy', 'funny', 'lovely']
['Learninng', 'python', 'is', 'easy', 'funny', 'lovely']

In [60]:
# Menggabungkan beberapa string pada list menjadi 1 nilai string
g = ['a','b','c','d','e','f']
print(type(g))
h = (",").join(g)
print(h)
print(type(h))

<class 'list'>
a,b,c,d,e,f
<class 'str'>

In [50]:
# Contoh mengubah 1 kalimat menjadi beberapa string kata dalam 1 list
a = "pohon yang buahnya bundar, berdaging tebal dan mengandung air serta berkulit lunak yang warnanya merah (kemerah-merahan) atau kuning (kekuning-kuningan), jika matang rasanya manis kemasam-masaman"
a_kata = a.split(" ")
print(a_kata)

['pohon', 'yang', 'buahnya', 'bundar,', 'berdaging', 'tebal', 'dan', 'mengandung', 'air', 'serta', 'berkulit', 'lunak', 'yang', 'warnanya', 'merah', '(kemerah-merahan)', 'atau', 'kuning', '(kekuning-kuningan),', 'jika', 'matang', 'rasanya', 'manis', 'kemasam-masaman']

## String - Print .format()

In [56]:
# Cara untuk melakukan print() sesuai variable

s = "Anda telah menerima tata cara pendaftaran melalui email anda yaitu {email} dengan No.Hp {nohp}"
print(s.format(email = "mulianaraul@gmail.com", nohp = "081212894409"))

Anda telah menerima tata cara pendaftaran melalui email anda yaitu mulianaraul@gmail.com dengan No.Hp 081212894409

In [55]:
# Cara untuk melakukan print() sesuai variable diurutkan dengan index yang sesuai urutan dengan .format()

nama_saya = "Rahul Muliana"
umur_saya = "24"
pekerjaan = "Data scientist"

print("nama saya adalah {0} dan umur saya saat ini {1} tahun. Saya adalah seorang {2} di perusahaan swasta.".format(nama_saya,umur_saya,pekerjaan))

nama saya adalah Rahul Muliana dan umur saya saat ini 24 tahun. Saya adalah seorang Data scientist di perusahaan swasta.

## String - upper() / lower() / title() / capitalize()

In [68]:
# Mengubah karakter string menjadi huruf kecil semua dengan .upper()

var_profile = "Nama saya adalah Rahul Muliana, saya lahir di Kediri tanggal 31 Oktober 1997"

#Mengecek apakah variable var_profile memiliki nilai string yang hurufnya besar semua?
pertanyaan = "apakah nilai pada var_profile huruf besar semua? jawabannya adalah {tidak}" 
print(pertanyaan.format(tidak = var_profile.isupper()))

#Mengubah nilai pada var_profile menjadi huruf kecil semua
var_profile_upper = var_profile.upper()
print(var_profile_upper)

apakah nilai pada var_profile huruf besar semua? jawabannya adalah False
NAMA SAYA ADALAH RAHUL MULIANA, SAYA LAHIR DI KEDIRI TANGGAL 31 OKTOBER 1997

In [70]:
# Mengubah karakter string menjadi huruf kecil semua dengan .lower()

var_profile = "Nama saya adalah Rahul Muliana, saya lahir di Kediri tanggal 31 Oktober 1997"

#Mengecek apakah variable var_profile memiliki nilai string yang hurufnya kecil semua?
pertanyaan = "apakah nilai pada var_profile huruf kecil semua? jawabannya adalah {tidak}" 
print(pertanyaan.format(tidak = var_profile.islower()))

#Mengubah nilai pada var_profile menjadi huruf kecil semua
var_profile_lower = var_profile.lower()
print(var_profile_lower)

apakah nilai pada var_profile huruf kecil semua? jawabannya adalah False
nama saya adalah rahul muliana, saya lahir di kediri tanggal 31 oktober 1997

In [71]:
# Mengubah karakter string menjadi huruf kecil semua dengan .title()

var_profile = "Nama saya adalah Rahul Muliana, saya lahir di Kediri tanggal 31 Oktober 1997"

#Mengecek apakah variable var_profile memiliki nilai string yang hurufnya dengan konsep title?
pertanyaan = "apakah nilai pada var_profile huruf dengan konsep title? jawabannya adalah {tidak}" 
print(pertanyaan.format(tidak = var_profile.istitle()))

#Mengubah nilai pada var_profile menjadi huruf dengan konsep title
var_profile_title = var_profile.title()
print(var_profile_title)

apakah nilai pada var_profile huruf dengan konsep title? jawabannya adalah False
Nama Saya Adalah Rahul Muliana, Saya Lahir Di Kediri Tanggal 31 Oktober 1997

In [73]:
# Mengubah karakter string menjadi huruf kecil semua dengan .capitalize()

var_profile = "Nama saya adalah Rahul Muliana, saya lahir di Kediri tanggal 31 Oktober 1997"

#Mengubah nilai pada var_profile menjadi huruf dengan konsep kapital
var_profile_capitalize = var_profile.capitalize()
print(var_profile_capitalize)

Nama saya adalah rahul muliana, saya lahir di kediri tanggal 31 oktober 1997

## String - .find() / .replace() / .count() / .strip()

### .find()

In [81]:
# Mencari satu kata dalam satu kalimat string, apabila kata tersebut ada maka outputnya posisi index
# Apabila kata yang dicari tidak ada maka outputnya yaitu -1

nama = "rahul aggil risma waliji mutyawati"
print(nama.find("aggil"))
print(nama.find("radin")) # kata yang dicari tidak ada dalam string kalimat di variable nama

6
-1

In [86]:
# Bila kalimat pada variable string panjang dapat menggunakan conditional statement
# Untuk mencari apakah ada kata yang dicari dalam kalimat tersebut

nama = "rahul maurica aggil zhifa risma nasya radin ayah ibu"
result_nama = nama.find("radin")

if result_nama != -1:
    print("Ada kata tersebut")
else:
    print("Tidak ada kata tersebut")

Ada kata tersebut

### .replace()

In [103]:
# Melakukan check apakah dalam variable kalimat tersebut ada kata ibu?
nama = "rahul maurica aggil ibu ayah zhifa risma nasya radin ayah ibu"
nama_split = nama.split()
# print(nama_split)
if "ibu" in nama_split:
    print("ada nama ibu")
else:
    print("tidak ada nama ibu")

# Mengganti semua kata ibu dengan mutyawati
nama_ibu_change_mutya = nama.replace("ibu","mutyawati")
print(nama_ibu_change_mutya)

# Mengganti 1 kata ibu dengan mutyawati
nama_ibu_change_mutya = nama.replace("ibu","mutyawati",1)
print(nama_ibu_change_mutya)

ada nama ibu
rahul maurica aggil mutyawati ayah zhifa risma nasya radin ayah mutyawati
rahul maurica aggil mutyawati ayah zhifa risma nasya radin ayah ibu

### .count()

In [106]:
# mencari jumlah kata yang terduplikasi dalam 1 kalimat string
nama = "rahul maurica aggil ibu maurica ayah zhifa  mauricarisma nasya radin ayah ibu maurica"
nama_duplikasi_maurica = nama.count("maurica")
print("Untuk nama maurica terdapat {duplikasi} buah nama".format(duplikasi = nama_duplikasi_maurica))

Untuk nama maurica terdapat 4 buah nama

In [119]:
# Mencari jumlah huruf yang terduplikasi dalam 1 kalimat string
huruf_acak = "askdjhaksdhausdiahsduaisdhiahdishiaudakhskdahkdhsakdshakhdkaskjdhakhksakkaakjahkahkahkahkaha"
a_jumlah = 0
m_jumlah = 0
for huruf in huruf_acak:
    if huruf in "abcdefghijklmnopqrstuvwxyz" and huruf == "a":
        a_jumlah += 1
print(a_jumlah)

22

In [109]:
# Mencari jumlah huruf yang terduplikasi paling banyak dalam 1 kalimat string
huruf_acak = "kajhgjagdasdgfdsfkhkdshghgiuuhahsihasdhiddishfahiudhiaugsigfsifaoahsaohfjagdjagsjgajsha"
max_huruf = ""
max_jumlah = 0

for huruf in huruf_acak:
    huruf_jumlah = huruf_acak.count(huruf)
    if huruf_jumlah > max_jumlah:
        max_huruf,max_jumlah = huruf,huruf_jumlah
print(max_huruf,max_jumlah)

a 14

### .strip()

In [3]:
# Menghilangkan spasi yang banyak serta karakter lain pada awal kata atau akhir kata 

nama = "                                Rahul Muliana________________________"
nama_change_1 = nama.strip(" ")
nama_change_2 = nama_change_1.strip("_")
print(nama_change_2)

Rahul Muliana

### String - Computation

In [133]:
# Mencari kata pada hasil komputasi string

s = "foo"
t = "bar"
print(s+t)

print("rfoo" in 2 * (s+t))

foobar
True

### String - ord() and chr()

In [141]:
# ord() digunakan untuk mencari tahu nilai dari huruf a-z
print("nilai angka dari huruf a adalah {a}".format(a = ord("a")))
print("nilai angka dari huruf z adalah {z}".format(z = ord("z")))

nilai angka dari huruf a adalah 97
nilai angka dari huruf z adalah 122

In [142]:
# chr() digunakan untuk mencari tahu hururf dari nilai 97-122
print("huruf dari nilai angka 115 adalah {huruf}".format(huruf = chr(115)))

huruf dari nilai angka 115 adalah s

# List
    - [10,20,30,"Python,{1:1,2:2},[1,2,3,4,5]] Di dalam list boleh ada data tipe macam-macam
    - mutable (bisa di Add, update dan dihapus)

In [321]:
# Mendapatkan nilai dari data list menggunakan indexing
l = ["Python","java",10,20,30,[100,200,300,400]]
print(l[0])
print(l[-1])
print(l[-1][0:3])

Python
[100, 200, 300, 400]
[100, 200, 300]

## List - Add - .append() / .extend() / .insert()

### List Add .append()

In [162]:
# Menambah 1 nilai pada data list
# Untuk menambah banyak nilai harus dilakukan dengan berkali kali secara manual dengan .append()
nilai_uts = [50,60,70]
nilai_uts.append(80)
nilai_uts.append("nilai remedial")
print(nilai_uts)

[50, 60, 70, 80, 'nilai remedial']

### List Add .extend()

In [228]:
# Menambahkan beberapa nilai menggunakan data list pada data list dengan metode iterasi
nilai_ujian = [50,60,50,60,70]
nilai_latihan = [80,90,90,90,80,90]
nilai_ujian.extend(nilai_latihan)
print(nilai_ujian)

# Menambahkan beberapa nilai menggunakan data string pada data list dengan metode iterasi
nilai_ujian = [50,60,50,60,70]
nilai_alphabet = 'ccbcabc'
nilai_ujian.extend(nilai_alphabet)
print(nilai_ujian)

# Contoh
# Output yang diminta => l2 = [1,2,3,4,5,6,7,8,9]
l = [[1,2,3],[4,5,6],[7,8,9]]

l2 = []
for value in l:
    l2.extend(value)
print(l2)

[50, 60, 50, 60, 70, 80, 90, 90, 90, 80, 90]
[50, 60, 50, 60, 70, 'c', 'c', 'b', 'c', 'a', 'b', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Add .insert()

In [168]:
# Menambahkan nilai int/string pada data list sesuai dengan posisi index yang diingignkan
nilai_ujian = [50,60,50,60,70]
nilai_ujian.insert(5,"a")
nilai_ujian.insert(6,100)
print(nilai_ujian)

[50, 60, 50, 60, 70, 'a', 100]

## List - Iterasi for dengan zip()

In [269]:
# Penggabungan nilai pada iterable data berdasarkan indexnya
nilai_ujian = [70,70,80,80,90]
nilai_alphabet = "ABCBA"
nama = ["rahul", "aggil","radin","risma"]
for value in zip(nilai_ujian,nilai_alphabet,nama):
    print(value)

(70, 'A', 'rahul')
(70, 'B', 'aggil')
(80, 'C', 'radin')
(80, 'B', 'risma')

In [212]:
# Contoh iterasi kompleks menggunakan zip
# Output yang dihasilkan l3 = [[71,82,93],[51,62,73],[61,72,83]]

nilai_ujian = [[70,80,90,],[50,60,70],[60,70,80]]
point_harian = [[1,2,3],[1,2,3],[1,2,3]]
nilai_total = []
# 1. melakukan check bila 2 variable dilakukan zip
for a in zip(nilai_ujian,point_harian):
    print(a)

# 2. Melakukan iterasi
for list_1,list_2 in zip(nilai_ujian,point_harian):
    variable_temporary = []
    for var_1,var_2 in zip(list_1,list_2):
#         print(var_1,var_2)
        variable_temporary.append(var_1 + var_2)
#         print(variable_temporary)
    nilai_total.append(variable_temporary)
print("Outputnya adalah {output}".format(output = nilai_total))

([70, 80, 90], [1, 2, 3])
([50, 60, 70], [1, 2, 3])
([60, 70, 80], [1, 2, 3])
Outputnya adalah [[71, 82, 93], [51, 62, 73], [61, 72, 83]]

## List - Update

In [226]:
# Melakukan update nilai pada data list
nilai_ujian = [70,80,50,90]
nilai_ujian[2] = 100
print(nilai_ujian)

[70, 80, 100, 90]

## List - Delete - .pop() / .remove() / .clear() / .del()

### List - Delete - .pop()

In [238]:
# Melakukan penghapusan nilai berdasarkan index dan nilai yang dihapus dapat disimpan dalam 1 variable (cut system)
nilai_ujian = [80,80,70,80,90,100]
nilai_dihapus = nilai_ujian.pop(-2)
print(nilai_ujian)
print("nilai yang dihapus adalah {nilai}".format(nilai = nilai_dihapus))

[80, 80, 70, 80, 100]
nilai yang dihapus adalah 90

### List - Delete - .remove()

In [247]:
# Melakukan penghapusan nilai pada data list berdasarkan nilai tersebut
nilai_ujian = [80,80,70,80,90,100]
nilai_dihapus = nilai_ujian.remove(70)
print(nilai_ujian)
print(nilai_dihapus)

[80, 80, 80, 90, 100]
None

In [248]:
# Melakukan penghapusan nilai pada data list dengan iterasi berdasarkan nilai tersebut
nilai_ujian = [50,60,50,60,70,80,70,80,50,90]
for nilai_lulus in nilai_ujian:
    if nilai_lulus == 50:
        nilai_ujian.remove(50)
print(nilai_ujian)

[60, 60, 70, 80, 70, 80, 90]

### List - Delete - .clear()

In [250]:
# Melakukan penghapusan semua nilai dalam data list
nilai_ujian = [80,80,70,80,90,100]
nilai_ujian.clear()
print(nilai_ujian)

[]

### List - Delete - del

In [256]:
# Melakukan penghapusan variable sehingga variable tidak dapat dipanggil kembali
nilai_harian = [70,70,70,80,90]
del nilai_harian
print(nilai_harian)

NameError: name 'nilai_harian' is not defined

## List - .count() / .sort() / len()

### List - .count()

In [263]:
# Mendapatkan jumlah nilai yang sama pada data list
name_member = ["rahul","rahul","aggil","radin","mutyawati","rahul","rahul"]
jumlah_name = name_member.count("rahul")
print("jumlah nama rahul pada variable name_member adalah {jumlah}".format(jumlah = jumlah_name))

jumlah nama rahul pada variable name_member adalah 4

### List - .sort()

In [287]:
# Mendapatkan data yang berurutan dari awalan kata huruf A - Z
name_member = ["rahul","rahul","aggil","radin","mutyawati","rahul","rahul"]
name_member.sort()
print(name_member)

# Mendapatkan data yang berurutan dari yang paling kecil hingga paling besar
age_member = [23,23,25,31,50,23,23]
age_member.sort()
print(age_member)

['aggil', 'mutyawati', 'radin', 'rahul', 'rahul', 'rahul', 'rahul']
[23, 23, 23, 23, 25, 31, 50]

### List - len()

In [293]:
# Mendapatkan jumlah data yang ada pada data list
name_member = ["rahul","rahul","aggil","radin","mutyawati","rahul","rahul",23,23,25,31,50,23,23,[2,3]]
a = len(name_member)
print("jumlah nilai pada data list name_member adalah {jumlah_nilai} nilai dan tipe variable nya adalah {tipe}".format(jumlah_nilai = a, tipe = type(a)))

jumlah nilai pada data list name_member adalah 15 nilai dan tipe variable nya adalah <class 'int'>

# Tuple
    - ()
    - immutable (tidak bisa di Add, update dan dihapus)
    - t = ("Python",10,20,30,40,50,[100,200,300],(10,20),{'name':'raul'}) Di dalam tuple boleh ada data tipe macam-macam

In [310]:
# Mendapatkan nilai dari data list menggunakan indexing
var_tuple = (10,20,30,[40,4,20,30],4005,0,3)
print(var_tuple[1])
print(var_tuple[-1])
print(var_tuple[0:5])
print(var_tuple[-4][0:2])

20
3
(10, 20, 30, [40, 4, 20, 30], 4005)
[40, 4]

# Dict
    - pola data dict yaitu selalu ada "key" dan "value" {"key1":"value1","key2":"value2"}
    - semua "key" bersifat unik atau tidak boleh sama
    - semua nilai dari "key" adalah immutable (str,int,tuple,float)
    - mutable (bisa di Add, update dan dihapus)

In [324]:
# Melakukan pencarian nilai pada data dict berdasarkan key dengan menggunakan cara manual
form = {"name":"rahul","email":"mulianaraul@gmail.com","nohp":"081212894409","age":"23"}
print(form['name'])

rahul

In [327]:
# Melakukan pencarian nilai pada data dict berdasarkan key dengan menggunakan cara manual
# Jika key tidak disesuai dengan key yang ada pada data dict tsb maka akan  error

form = {"name":"rahul","email":"mulianaraul@gmail.com","nohp":"081212894409","age":"23"}
print(form['salary'])

KeyError: 'salary'

## Dict - .get()
Untuk melakukan check apakah terdapat nama key yang dicari dalam data dict tersebut. Bila tidak ada maka outputnya yaitu "None"

In [50]:
# Melakukan pencarian nilai pada data dict berdasarkan key dengan menggunakan .get("key_names")

form = {"name":"rahul","email":"mulianaraul@gmail.com","nohp":"081212894409","age":"23"}
var_name = form.get("name")
var_pendidikan = form.get("pendidikan")
print("Nilai pada key name adalah {name}".format(name = var_name))
print("Pendidikan terakhir rahul yaitu {pendidikan}".format(pendidikan = var_pendidikan))

Nilai pada key name adalah rahul
Pendidikan terakhir rahul yaitu None

## Dict - .setdefault(key,value)

In [48]:
# Melakukan pencarian nilai pada data dict berdasarkan key dengan menggunakan .setdefaut()
# Apabila key yang dicari tidak ada dalam daftar key pada data dict, maka kkey tersebut secara otomatis ter input
# Oleh karena itu, .setdefault() dapat digunakan juga untuk menambahkan key dan value pada data dict

form = {"name":"rahul","email":"mulianaraul@gmail.com","nohp":"081212894409","age":"23"}
print(form.setdefault("jenis_kelamin"))
print(form.setdefault("pendidikan_akhir","sma"))
print(form)

None
sma
{'name': 'rahul', 'email': 'mulianaraul@gmail.com', 'nohp': '081212894409', 'age': '23', 'jenis_kelamin': None, 'pendidikan_akhir': 'sma'}

In [51]:
# Melakukan input key dan value kedalam variable data dict yang masih kosong dengan iterasi

alpha_num = {}
for value in range(ord('a'),ord('z')+1):
    alpha_num.setdefault(chr(value),value)

num_numsquare = {}
for value in range(1,10+1):
    num_numsquare.setdefault(value,value**2)
    
    
print(alpha_num,num_numsquare)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122} {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [74]:
# Contoh advanced .setdefault()

data_dict = {}
for key in zip(range(1,92,10),range(10,101,10)):
    data_dict.setdefault(key,0)
print(data_dict)
    
num = 44
for data in data_dict:
    if num >= data[0] and num <= data[1]:
        data_dict[data] = data_dict.get(data) +1
        break
print(data_dict)

{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}
{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 1, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}

## Dict - .keys() / .values() / .items()

In [39]:
# Untuk mengetahui jumlah dan nama key yang ada pada data dict dengan .keys()
for data_key in alpha_num.keys():
    print(data_key)
print(type(data_key)) # Bila ingin mengambil key pada data dict lalu menjadikannya ke string

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
<class 'str'>

In [40]:
# Untuk mengetahui jumlah dan values yang ada pada data dict dengan .values()
print(alpha_num.values())

dict_values([97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122])

In [41]:
# Untuk menampilkan key dan value pada data dict dengan .items()
print(alpha_num.items())

dict_items([('a', 97), ('b', 98), ('c', 99), ('d', 100), ('e', 101), ('f', 102), ('g', 103), ('h', 104), ('i', 105), ('j', 106), ('k', 107), ('l', 108), ('m', 109), ('n', 110), ('o', 111), ('p', 112), ('q', 113), ('r', 114), ('s', 115), ('t', 116), ('u', 117), ('v', 118), ('w', 119), ('x', 120), ('y', 121), ('z', 122)])

## Dict - Delete - .pop() / .popitem() / .clear()

### Dict - .pop() | Menghapus key dan value pada data dict berdasarkan key nya

In [95]:
data_formulir = {"nama":"rahul","usia":"23","status":"Belum Menikah"}
print(data_formulir)
data_formulir.keys() #Mengetahu isi apa saja key pada data dict
data_formulir.pop("nama")
data_formulir

{'nama': 'rahul', 'usia': '23', 'status': 'Belum Menikah'}

{'usia': '23', 'status': 'Belum Menikah'}

### Dict - .popitem() | Menghapus key dan value yang terakhir pada data dict

In [117]:
data_formulir
data_formulir.setdefault("nama","rahul") # Menambah key and value nama rahul
data_formulir
data_formulir.setdefault("pekerjaan","karyawan") # Menambah key and value pekerjaan karyawan
data_formulir
data_pekerjaan = data_formulir.popitem()
data_pekerjaan


print(data_pekerjaan,data_formulir)

('pekerjaan', 'karyawan') {'usia': '23', 'status': 'Belum Menikah', 'nama': 'rahul'}

## Dict - .update() | Menambah data key dan value

In [120]:
data_formulir_baru = {"pekerjaan":"karyawan","pendidikan":"S1"}
data_formulir.update(data_formulir_baru) # Menambah key dan value 
data_formulir

{'usia': '23',
 'status': 'Belum Menikah',
 'nama': 'rahul',
 'pekerjaan': 'karyawan',
 'pendidikan': 'S1'}

# Set
    - {10,20,30,40,50} semua elemen harus unik tidak boleh ada yang sama
    - tidak bisa indexing ataupun slicing
    - mutable

## Set - .union() / .intersection() / .difference() / .symetric_difference() / .subset() / .superset()

In [122]:
s1 = {10,20,30,40,50,60,}
s2 = {40,50,60,70,80,90}

# s1 union s2 = {10,20,30,40,50,60,70,80,90}
# s1 intersection s2 = {40,50,60}
# s1 difference s2 = {10,20,30}
# s1 symmetric difference = {10,20,30,70,80,90}

s3 = {10,20}

# s3 issubset of s1 = answer will True or False
# s1 issuperset of s3 = answer will True or False

In [124]:
s3 = s1.union(s2)
print(s3)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [125]:
s3 = s1.intersection(s2)
print(s3)

{40, 50, 60}

In [127]:
s3 = s1.difference(s2)
print(s3)

{10, 20, 30}

In [130]:
s3 = s1.symmetric_difference(s2)
print(s3)

{70, 10, 80, 20, 90, 30}

In [134]:
s3 = {10,20}

print(s3.issubset(s1))

True

In [136]:
s3 = {10,20}

print(s1.issuperset(s3))

True

## Set - sorted() | Mengurutkan value dari terkecil hingga terbesar

In [137]:
var_score = {70,40,10,80,50,20,90,60,30}
var_newscore = sorted(var_score)
print(var_newscore)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## Set - Delete - .remove() / .discard() / .pop()

In [140]:
var_score.remove(100) # Error karena nilai 100 tidak ada dalam variable

KeyError: 100

In [145]:
var_score.discard(100) # Ada/Tidak nilai yang akan dihapus tidak akan mengeluarkan error
print(var_score)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [151]:
var_pop = var_score.pop() # Menghapus nilai dengan secara random / acak
print(var_score,var_pop)

{20, 90, 60, 30} 50

## Set - .add() | Menambah value satu-satu pada variable

In [156]:
var_score.add(50)
var_score

{20, 30, 50, 60, 90}